<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{nrSerieFactura}}</title>
    <style type="text/css">
      @page {
        size: A4;
      }

      body {
        margin: 0px;
      }

      .content {
        min-height: 2cm;
      }
      .headerContainer {
        display: flex;
        font-size: 0.8rem;
      }
      .tableContainer table {
        border: 1px solid black;
        border-collapse: collapse;
      }
      table tbody tr td {
        font-size: 0.8rem;
      }
      .tableContainer {
        margin-top: 20px;
      }
      .tableContainer table {
        font-size: 0.8rem;
      }
      @page {
        size: A4;
        margin: 2rem;
        background-color: red;
      }
    </style>
  </head>
  <body>
    <div style="min-height: 99%; border: 1px solid black">
      <div class="content">
        <div class="headerContainer">
          <table>
            <tbody>
              <tr>
                <td style="width: 30%; padding: 0 10px">
                  <div class="seller">
                    <p style="margin: 4px 0">
                      <strong>Furnizor: </strong>BUSINESS OUTSOURCING SOLUTONS
                      S.R.L. <strong>CIF: </strong>RO35723388
                    </p>

                    <p style="margin: 4px 0">
                      <strong>Nr ord reg com: </strong>J40/2907/2016
                    </p>
                    <p style="margin: 4px 0">
                      <strong>Sediu: </strong>Str. Nucului, Nr. 51, Sector 3
                    </p>
                    <p style="margin: 4px 0">
                      <strong>Judet: </strong>Bucuresti
                    </p>
                    <span p style="margin: 4px 0"
                      ><strong>Cont: </strong>RO32 RZBR 0000 0600 1844
                      0293</span
                    >
                    <p style="margin: 4px 0">
                      <strong>Banca: </strong>Raiffeissen Bank
                    </p>
                    <p style="margin: 4px 0">
                      <strong>Capital social: </strong>200
                    </p>
                  </div>
                </td>
                <td style="width: 30%; padding: 0 10px">
                  <div class="company-logo">
                    <img
                      src="../imgs/logo.png"
                      alt="companyLogo"
                      width="100%"
                    />
                  </div>
                </td>
                <td style="width: 30%; padding: 0 10px">
                  <div class="buyer">
                    <p style="margin: 4px 0">
                      <strong>Cumparator: </strong>PPG ROMANIA S.A.
                    </p>
                    <p style="margin: 4px 0"><strong>CIF: </strong>RO3540951</p>
                    <p style="margin: 4px 0">
                      <strong>Nr ord reg com: </strong>J40/2907/2016
                    </p>
                    <p style="margin: 4px 0">
                      <strong>Sediu: </strong>Str. Nucului, Nr. 51, Sector 3
                    </p>
                    <p style="margin: 4px 0">
                      <strong>Judet: </strong>Bucuresti
                    </p>
                    <p style="margin: 4px 0">
                      <strong>Cont: </strong>RO32 RZBR 0000 0600 1844 0293
                    </p>
                    <p style="margin: 4px 0">
                      <strong>Banca: </strong>Raiffeissen Bank
                    </p>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="width: 30%"></td>
                <td style="width: 30%; text-align: center; padding: 0 10px">
                  FACTURA FISCALA
                </td>
                <td style="width: 30%"></td>
              </tr>
              <tr>
                <td style="width: 30%"></td>
                <td style="width: 30%; text-align: center; padding: 0 10px">
                  <p>SERIE SI NR: <strong>BOS 003256</strong></p>
                  <p>DATA (zi-luna-an): <strong>23-12-1742</strong></p>
                  <p>
                    Scadenta la:
                    <strong>28-12-1742</strong>
                  </p>
                </td>

                <td style="width: 30%"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tableContainer">
          <table border>
            <thead>
              <tr>
                <th style="text-align: center">Nr. Crt.</th>
                <th style="text-align: center">
                  Denumirea produselor sau a serviciilor
                </th>
                <th style="text-align: center">U.M.</th>
                <th style="text-align: center">Cantitatea</th>
                <th style="text-align: center">
                  Pretul unitar (fara T.V.A.) RON
                </th>
                <th style="text-align: center">Valoarea RON</th>
                <th style="text-align: center">Valoarea T.V.A. RON</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align: center">0</td>
                <td style="text-align: center">1</td>
                <td style="text-align: center">2</td>
                <td style="text-align: center">3</td>
                <td style="text-align: center">4</td>
                <td style="text-align: center">5(3x4)</td>
                <td style="text-align: center">6</td>
              </tr>
              <tr>
                <td style="padding: 8px 0"></td>
                <td style="padding: 8px 0"></td>
                <td style="padding: 8px 0"></td>
                <td style="padding: 8px 0"></td>
                <td style="padding: 8px 0"></td>
                <td style="padding: 8px 0"></td>
                <td style="padding: 8px 0"></td>
              </tr>
              <tr>
                <td style="text-align: center">1.</td>
                <td style="text-align: center">
                  Servicii cf Contract nr. 2 din 27.03.2019 (Salariu brut +
                  taxe, cf pontaj luna Decembrie 2002) (19% T.V.A.)
                </td>
                <td style="text-align: center">buc.</td>
                <td style="text-align: center">1.00</td>
                <td style="text-align: center">289.066,72</td>
                <td style="text-align: center">289.066,72</td>
                <td style="text-align: center">54.922,68</td>
              </tr>
              <tr>
                <td style="text-align: center">1.</td>
                <td style="text-align: center">
                  Servicii cf Contract nr. 2 din 27.03.2019 (Salariu brut +
                  taxe, cf pontaj luna Decembrie 2002) (19% T.V.A.)
                </td>
                <td style="text-align: center">buc.</td>
                <td style="text-align: center">1.00</td>
                <td style="text-align: center">289.066,72</td>
                <td style="text-align: center">289.066,72</td>
                <td style="text-align: center">54.922,68</td>
              </tr>
              <tr>
                <td style="text-align: center">1.</td>
                <td style="text-align: center">
                  Servicii cf Contract nr. 2 din 27.03.2019 (Salariu brut +
                  taxe, cf pontaj luna Decembrie 2002) (19% T.V.A.)
                </td>
                <td style="text-align: center">buc.</td>
                <td style="text-align: center">1.00</td>
                <td style="text-align: center">289.066,72</td>
                <td style="text-align: center">289.066,72</td>
                <td style="text-align: center">54.922,68</td>
              </tr>
              <tr>
                <td style="text-align: center">1.</td>
                <td style="text-align: center">
                  Servicii cf Contract nr. 2 din 27.03.2019 (Salariu brut +
                  taxe, cf pontaj luna Decembrie 2002) (19% T.V.A.)
                </td>
                <td style="text-align: center">buc.</td>
                <td style="text-align: center">1.00</td>
                <td style="text-align: center">289.066,72</td>
                <td style="text-align: center">289.066,72</td>
                <td style="text-align: center">54.922,68</td>
              </tr>
              <tr>
                <td style="text-align: center">1.</td>
                <td style="text-align: center">
                  Servicii cf Contract nr. 2 din 27.03.2019 (Salariu brut +
                  taxe, cf pontaj luna Decembrie 2002) (19% T.V.A.)
                </td>
                <td style="text-align: center">buc.</td>
                <td style="text-align: center">1.00</td>
                <td style="text-align: center">289.066,72</td>
                <td style="text-align: center">289.066,72</td>
                <td style="text-align: center">54.922,68</td>
              </tr>
              <tr>
                <td style="text-align: center">1.</td>
                <td style="text-align: center">
                  Servicii cf Contract nr. 2 din 27.03.2019 (Salariu brut +
                  taxe, cf pontaj luna Decembrie 2002) (19% T.V.A.)
                </td>
                <td style="text-align: center">buc.</td>
                <td style="text-align: center">1.00</td>
                <td style="text-align: center">289.066,72</td>
                <td style="text-align: center">289.066,72</td>
                <td style="text-align: center">54.922,68</td>
              </tr>
              <tr>
                <td style="text-align: center">1.</td>
                <td style="text-align: center">
                  Servicii cf Contract nr. 2 din 27.03.2019 (Salariu brut +
                  taxe, cf pontaj luna Decembrie 2002) (19% T.V.A.)
                </td>
                <td style="text-align: center">buc.</td>
                <td style="text-align: center">1.00</td>
                <td style="text-align: center">289.066,72</td>
                <td style="text-align: center">289.066,72</td>
                <td style="text-align: center">54.922,68</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td
                  rowspan="2"
                  colspan="2"
                  style="padding: 20px 0; padding: 5px"
                >
                  Semnatura si stampila furnizorului:
                </td>
                <td
                  rowspan="2"
                  colspan="2"
                  style="padding: 20px 0; padding: 5px"
                >
                  Semnatura de primire
                </td>
                <td style="padding: 10px 0; padding: 5px">TOTAL:</td>
                <td style="padding: 10px 0; padding: 5px; text-align: center">
                  349.967,15
                </td>
                <td style="padding: 10px 0; padding: 5px; text-align: center">
                  66.493,76
                </td>
              </tr>
              <tr>
                <td style="padding: 10px 0; padding: 5px">
                  <strong>TOTAL GENERAL:</strong>
                </td>
                <td
                  colspan="2"
                  style="padding: 10px 0; padding: 5px; text-align: center"
                >
                  <strong>416.460,91</strong>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div style="width: 100%; margin: 0 auto">
        <p style="text-align: center; font-size: 0.8rem">
          Simpra | invosys | &copy; All rights reserved
        </p>
      </div>
    </div>
  </body>
</html>
